.completed {
    text-decoration: line-through;
    color: grey;
  }
body{
  background-color: rgb(19, 57, 90);
}
  
  /* Styling the main container of the app */
  .container {
    background-color:rgb(231 223 212);
    border: 1px solid #0d1217; 
    border-radius: 8px; 
    padding: 20px; 
    max-width: 600px !important ;
    margin: 20px auto; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  /* Styling the input group (task input + button) */
  .input-group {
    margin-bottom: 20px;
  }
  
  
  .form-control::placeholder {
    font-size: 0.9rem; 
    color: #6c757d; 
  }
  
  /* styles for the task list items */
  .list-group-item {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
  }
  
  .list-group-item.completed {
    text-decoration: line-through; 
    color: #6c757d; 
  }
  
  /* Edit and delete buttons */
  .btn-warning {
    background-color: #ffc107; 
  }
  
  .btn-danger {
    background-color: #dc3545; 
  }
  
  


